.title {
  margin: 0;
  margin-bottom: 110px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  color: #444244;
}

.wrapper {
  display: flex;
  margin-left: 115px;
  margin-right: 115px;
}

.inner {
  margin-bottom: 20px;
}

.listOfParameters {
  margin-right: 150px;
}
