.link {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  color: #8a7f8e;
  text-decoration: none;
  background-color: #d7d7d7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.link:hover {
  color: #d7d7d7;
  background-color: #6c6874;
}
