.wrapper {
  margin: 0 50px;
  margin-top: 50px;
}

.title {
  margin: 0;
  margin-bottom: 110px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  color: #444244;
}

.column {
  flex-grow: 1;
  margin-bottom: 70px;
}

.titleColumn {
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: 25px;
  line-height: 1;
  font-weight: 600;
  color: #302f2f;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 45px;
}

.cell {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #424141;
  border-bottom: 1px solid #302f2f;
}

.button {
  width: 270px;
  margin-left: 30px;
}
