.containerButton {
  display: flex;
  align-items: baseline;
}

.button {
  width: 250px;
  margin-left: 50px;
}

.containerInner {
  display: flex;
  max-width: 60%;
  margin: 80px auto;
}

.playerName {
  display: block;
  margin-left: 130px;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 25px;
  line-height: 1;
  font-weight: 500;
  color: #5f5e5e;
}

.activePlayer {
  font-weight: 700;
  color: #353335;
}

.winner {
  font-weight: 800;
  color: #378a4b;
}
